div {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.landing button:hover {
  background-color: #064064;
}
.about h2,
.contact h2,
.contact h3,
.info .continer {
  text-align: center;
}
.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding: 20px 70px;
  left: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.header::before {
  content: "";
  width: 100%;
  background-color: #0b1d41;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  transition: 0.5s;
}
.ef::before {
  height: 85px;
}

.about h2,
.about h3,
.about img,
.contact form,
.contact h2,
.landing {
  position: relative;
}
.header img {
  transition: 1s;
  transform: translateY(100px);
  opacity: 0;
  width: 50px;
}
.header ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header ul li {
  margin-right: 30px;
}
.header ul li a {
  color: #fff;
}
.header ul li:hover a {
  color: #00bfa6;
}
.header ul li a.active {
  color: #00bfa6;
  position: relative;
  font-weight: 700;
}
.header ul li a.active::before {
  content: "";
  background-color: #00bfa6;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 0;
  bottom: -10px;
}
.landing {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  text-align: center;
}
h1 {
  font-size: 5em;
  color: #2c86be;
  margin: 15px 0;
}
.about p {
  font-size: 24px;
  margin-bottom: 30px;
}
.landing p {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
}
.landing button {
  background-color: #156292;
  color: #fff;
  padding: 15px 35px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 15px;
}
.landing .logo {
  width: 100px;
  transition: 1s;
}
.landing .move {
  width: 40px;
  transform: translateX(-250px);
  opacity: 0;
  transition: 1s;
}
.info {
  margin-bottom: 30px;
}
.info .continer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.info .continer .card {
  background-color: #0000008c;
  width: 25%;
  padding: 20px;
  transform: translateY(130px);
  border-radius: 10px;
  opacity: 0;
}
.info img {
  margin-bottom: 7px;
  width: 70px;
}
.info h3 {
  margin-bottom: 7px;
  font-size: 25px;
  color: #fff;
}
.info p {
  color: #aaa;
}
.about {
  padding: 40px 0;
  background-color: #fff;
}
.about h2,
.contact h2,
.servise h2 {
  font-size: 3em;
  color: #0b1d41;
  margin-bottom: 30px;
  margin-top: 0;
  margin-left: 80px;
  transform: translateX(-100px);
  text-align: left;
}
.about h2.right,
.contact h2.right,
.servise h2.right {
  transition: 0.7s;
  transform: translateX(0px);
}
.about h2::before,
.contact h2::before,
.servise h2::before {
  content: "";
  width: calc(100% - 300px);
  height: 5px;
  bottom: 18px;
  right: 80px;
  background-color: #156292;
  position: absolute;
}
.contact h2::before {
  width: calc(100% - 330px);
}













.servise h2::before {
  width: calc(100% - 360px);
}
.servise .continer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
}
.servise .equipmnet {
    border: 3px solid #0b1d41;
    margin-bottom: 15px;
    width: 350px;
    height: 430px;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: transform .8s ease-in-out;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.5);
}
.servise .equipmnet:hover {
    transform: rotateY(180deg);
}
.servise .front,
.servise .back {
    position: absolute;
    width: 92%;
    height: 93%;
    padding: 15px;
    backface-visibility: hidden;
}
.servise .front img {
    width: 100%;
}
.servise .front h3 {
    color: #064064;
    font-size: 1.6em;
    margin-bottom: 5px;
    margin-top: 10px;
}
.servise .back {
    background-color: #0b1d41;
    color: #fff;
    display: flex;
    transform: rotateY(180deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.servise .back h3 {
    color: #156292;
    font-size: 1.6em;
    margin-bottom: 10px;
}










.about h2 span,
.contact h2 span,
.servise h2 span {
  color: #156292;
}
.about .continer {
  display: flex;
  justify-content: space-between;
}
.about h3 {
  font-size: 2.5em;
  margin-bottom: 15px;
}
.about img {
  width: 550px;
  border-radius: 10px;
}
.about button {
  background-color: #156292;
  color: #fff;
  padding: 15px 35px;
  border: none;
  border-radius: 15px;
}
.servise {
  background-color: #eee;
  padding: 40px 0;
}
.contact {
  padding: 40px 0;
  background-color: #fff;
}

.contact .continer {
  display: flex;
  justify-content: space-around;
}
.contact h3 {
  font-size: 35px;
  margin-bottom: 15px;
  color: #064064;
}
.contact form {
  border: 3px solid #064064;
  padding: 20px 15px;
  width: 400px;
}
.contact form input,
.contact form textarea {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}
.contact button {
  background-color: #156292;
  color: #fff;
  padding: 13px 40px;
  border: none;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  font-size: 15px;
  font-weight: 700;
}
.footer {
  background-color: #0b1d41;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0;
}
.social img:hover {
  transform: translateY(-7px);
  transition: 0.5s;
}
.social img {
  margin-right: 5px;
  width: 20px;
}
.container {
  background-image: url(background5.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.continer {
  padding: 20px 100px;
}
.info .continer .up {
  transform: translateY(-20px);
  transition: 0.4s;
  opacity: 1;
}
.servise .equipmnet img {
  width: 100%;
  
}
@media (max-width: 767px) {
  .about img,
  .landing .text {
    width: 100%;
  }
  .about .continer,
  .footer,
  .landing {
    text-align: center;
  }
  .header {
    padding: 10px 20px;
  }
  .continer {
    padding: 0 35px;
  }
  .landing {
    flex-direction: column;
    padding: 20px;
  }
  .landing .continer {
    text-align: center;
    margin: auto;
    padding-top: 80px;
  }
  .landing h1 {
    font-size: 3.5em;
  }
  .landing .tube {
    display: none;
  }
  .landing .social {
    margin: 0 auto;
  }
  .info .continer {
    flex-direction: column;
    gap: 50px 0;
  }
  .info .continer .card {
    width: 80%;
  }
  .about .continer {
    flex-direction: column;
  }
  .about img {
    margin-top: 15px;
  }
  .about p {
    font-size: 18px;
  }
  .about h2,
  .contact h2,
  .servise h2 {
    margin-left: 20px;
    font-size: 2.5em;
  }
  .about h2::before,
  .contact h2::before,
  .servise h2::before{
    width: calc(100% - 253px);
    left: 248px;
  }
  .servise h2::before {
        width: calc(100% - 248px);
        left: 227px;
  }
  .contact h2::before {
        width: calc(100% - 245px);
        left: 212px;
  }
  .servise .continer {
    flex-wrap: wrap;
    gap: 40px 0;
  }
  .contact .continer {
    flex-direction: column;
    align-items: center;
  }
  .contact iframe {
    width: 400px;
  }
  .contact form {
    width: 100%;
    max-width: 300px;
    margin-top: 20px;
    left: 0;
  }
  .footer {
    flex-direction: column;
    gap: 7px 0;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about img,
  .contact form {
    width: 80%;
  }
  .continer {
    padding: 20px 50px;
  }
  .landing .continer {
    text-align: center;
    margin: auto;
    padding-top: 80px;
  }
  .about img,
  .landing .social {
    margin: 0 auto;
  }
  .landing h1 {
    font-size: 4em;
  }
  .landing p {
    font-size: 25px;
  }
  .info .continer {
    justify-content: space-between;
  }
  .about .continer {
    flex-direction: column;
    text-align: center;
  }
  .contact .continer {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (min-width: 1025px) {
  .landing h1 {
    font-size: 5em;
  }
  .about .continer {
    flex-direction: row;
    justify-content: space-between;
    gap: 0 30px;
  }
  .contact .continer {
    flex-direction: row;
    justify-content: space-around;
  }
}
